---
import Layout from "../../layouts/Layout.astro";
import type { Character } from "../../types/types";

const { idpj } = Astro.params;

const data = await fetch(`https://rickandmortyapi.com/api/character/${idpj}`).then((res) => res.json());

export async function getStaticPaths() {
	const data = await fetch(`https://rickandmortyapi.com/api/character/`).then((res) => res.json());

	return data.results.map((idpj: Character) => ({
		params: { idpj: idpj.id.toString() },
	}));
}
---

<Layout title="Character">
	<h1>{data.name}</h1>
</Layout>
